* {
    margin: 0;
    padding: 0;
    list-style-type: none; /*removes bullet points from lists*/
}

/*
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

/*HEADER*/
.header {
    /*FLEX*/
    /*Split header and links and push them apart (with space around)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    /*SIZING/POSITIONING*/
    height: 84px;
    padding: 0px 64px; /*pushes content inwards*/
    /*STYLING*/
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 32px;  /*gaps between links*/
    font-size: 18px;
    color: #E5E7EB;
}


/*TOP SECTION */
.top-section {
    background-color: #1F2937;
    color: white;
    padding: 32px 64px; /*pushes content in and creates spaces around element*/

    /*Spaces the left and right sets of elements*/
    display: flex;
    justify-content: space-between;
}

/*sets the height and width for the left and right top sections*/
.top-section-right, .top-section-left {
    width: 500px;
    height: 200px;
}

.top-section-right {
    background-color: grey;
    
    /*Put the item (p) in the middle of the right section*/
    display: flex;
    justify-content: center;
    align-items: center;
}
