/* Imports roboto font + supports font weights */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none; /*removes bullet points from lists*/
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

/*
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

/*HEADER*/
.header {
    /*FLEX*/
    /*Split header and links and push them apart (with space around)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    /*SIZING/POSITIONING*/
    height: 84px;
    padding:0 15%; /*pushes content inwards*/
    /*STYLING*/
    background-color: #1F2937;
    color: white;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;

}

.header-links {
    display: flex;
    gap: 32px;  /*gaps between links*/
    font-size: 18px;
    color: #E5E7EB;
}


/*TOP SECTION */
.top-section {
    background-color: #1F2937;
    padding: 8% 15%; /*pushes content in and creates spaces around element*/

    /*Spaces the left and right sets of elements*/
    display: flex;
    justify-content: space-between;
}

/*sets the initial width (can go smaller) for the left and right top sections*/
.top-section-right, .top-section-left {
    flex-basis: 480px;  
}

/*Sets the content in the left top section as a column, seperates items by 10px and aligns all items to left of box*/
.top-section-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.top-section-right {
    background-color: #6E747D;
    
    /*Put the item (p) in the middle of the right section*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section-left h2{
    font-size: 48px ;
    color: #F9FAF8;
    font-weight: 900;
}

.top-section-left p, .image-placeholder p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}